@darkPrimaryColor:   #455A64;
@primaryColor:       #607D8B;
@lightPrimaryColor:  #CFD8DC;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #4CAF50;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;

@headerFont: 'Pacifico', Georgia, Times, serif;
@textFont: 'Arimo', Helvetica, Arial, sans-serif;

.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83adbf+0,408cad+100 */
    background: #83adbf; /* Old browsers */
    background: -moz-linear-gradient(top,  #83adbf 0%, #408cad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #83adbf 0%,#408cad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #83adbf 0%,#408cad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83adbf', endColorstr='#408cad',GradientType=0 ); /* IE6-9 */
    height:100%;
}

body, html{
    padding:0;
    margin: 0;
    color: @textPrimaryColor;   
    background-image: url("../images/honda.jpg");   
    font-family: @textFont;
    box-sizing:border-box;    

 .background{
    width:100%;  
    background-repeat: no-repeat;
    background-position: right top;
}
h1 {
    font-family: @headerFont;
    text-shadow: 2px 2px #0e0e0e;
    margin:0;
    padding:0;
}
li {
    list-style: none; 
}
.blog-entry{
    width:60em; 
    background-color: red;
    margin-bottom:1em;
    border-radius: 2px;
    padding:1em; 
    box-sizing:border-box;      
    .date{
        width:100%; 
        background-color: @accentColor;
    } 
    .title{
        font-size: 32px;
    }
}
.banner{ 
    .gradient;
    margin-top: 0;
    display: block;
    height: 3.5em;
    width: 100%;
    margin-bottom: 2rem; 
    h1{
        color: @textPrimaryColor;
        display: inline-block;
        width: 55%;
        height: 3.5rem; 
        margin-left: 1em;
    }
    .race-countdown{
        display:inline-block;
        height:100%;
        line-height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .login,.logout{
        height: 100%; 
        width:4em;
        line-height: 3.5em;
        box-sizing: border-box;
        float: right;
        button{
            height:2em;
            line-height: 2em;
        }

    }
}

.menu{ 
    margin: 0;    
    height: 100%;
    line-height: 100%;
    margin: 0;
    background-color: fade(@darkPrimaryColor,50%);
    width: 37%;
    float: right; 
    width: 34%;
    padding: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
        li{
            display: inline-block;
            width: 30%;
            line-height: 3.5rem;
            height: 3.5rem;
            text-align: center; 
            margin: 0;
            padding: 0;
        }
        li:hover{
            background:@accentColor;
            cursor: pointer;
        }
    }
}

