.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,2b2b2b+80,595959+100 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#595959', GradientType=0);
  /* IE6-9 */
}
body,
html {
  padding: 0;
  margin: 0;
  color: #f2f2f2;
  background-color: #f2f2f2;
  background-image: url("../images/brushed.png");
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body .wrapper,
html .wrapper {
  max-width: 960px;
  margin: auto;
}
body .background,
html .background {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
body h1,
html h1 {
  font-family: 'Orbitron', Georgia, Times, serif;
  text-shadow: 2px 2px #0e0e0e;
  margin: 0;
  padding: 0;
}
body li,
html li {
  list-style: none;
}
body .panel,
html .panel {
  border: 1px solid #b5b3b4;
  box-shadow: 0 2px 1px rgba(130, 128, 129, 0.2);
  border-radius: 3px;
  background-color: #828081;
}
body .blog-posts,
html .blog-posts {
  padding: 0;
}
body .blog-posts .blog-entry,
html .blog-posts .blog-entry {
  border: 1px solid #b5b3b4;
  box-shadow: 0 2px 1px rgba(130, 128, 129, 0.2);
  border-radius: 3px;
  background-color: #828081;
  width: 60em;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}
body .blog-posts .blog-entry .date,
html .blog-posts .blog-entry .date {
  width: 100%;
}
body .blog-posts .blog-entry .title,
html .blog-posts .blog-entry .title {
  font-size: 32px;
}
body .race-countdown,
html .race-countdown {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 1em;
  border: 1px solid #b5b3b4;
  box-shadow: 0 2px 1px rgba(130, 128, 129, 0.2);
  border-radius: 3px;
  background-color: #828081;
}
body .race-countdown .timer,
html .race-countdown .timer {
  margin-right: 1rem;
}
body .button,
html .button {
  background-color: #4CAF50;
  border-left: 1px solid #92cf94;
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 0 0.4rem;
}
body .button:hover,
html .button:hover {
  cursor: pointer;
  animation: MoveUpDown .2s linear;
}
body .button:active,
html .button:active {
  border: inset 1px #92cf94;
}
body .banner,
html .banner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,2b2b2b+80,595959+100 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #2b2b2b 80%, #595959 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#595959', GradientType=0);
  /* IE6-9 */
  margin-top: 0;
  display: block;
  height: 2rem;
  width: 100%;
}
body .banner h1,
html .banner h1 {
  color: #FFFFFF;
  display: inline-block;
  width: 25%;
  font-size: 1.2rem;
  margin-left: 1em;
  line-height: 2rem;
}
body .banner .login,
html .banner .login,
body .banner .logout,
html .banner .logout {
  height: 100%;
  width: 8.333333333333%;
  line-height: 2rem;
  box-sizing: border-box;
  text-align: center;
  float: right;
}
body .banner .login button,
html .banner .login button,
body .banner .logout button,
html .banner .logout button {
  height: 2em;
  line-height: 2em;
}
body .banner .menu,
html .banner .menu {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 25%;
  float: right;
}
body .banner .menu li,
html .banner .menu li {
  height: 100%;
  line-height: 2rem;
  width: 33.333333333333333333%;
  display: inline-block;
  text-align: center;
}
body .banner .menu li:hover,
html .banner .menu li:hover {
  background: #4CAF50;
  cursor: pointer;
}
body .banner .login:hover,
html .banner .login:hover,
body .banner .logout:hover,
html .banner .logout:hover {
  background: #4CAF50;
  cursor: pointer;
}
body .header-section,
html .header-section {
  height: 20em;
  border: 1px solid silver;
  margin-bottom: 4rem;
  width: 100%;
  background-image: url("../images/honda.jpg");
  background-size: cover;
  background-position: center;
}
@keyframes MoveUpDown {
  0% {
    position: relative;
    bottom: 0;
  }
  50% {
    position: relative;
    bottom: 1px;
  }
  100% {
    bottom: 0;
    position: relative;
  }
}
