.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83adbf+0,408cad+100 */
  background: #83adbf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #83adbf 0%, #408cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #83adbf 0%, #408cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #83adbf 0%, #408cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83adbf', endColorstr='#408cad', GradientType=0);
  /* IE6-9 */
  height: 100%;
}
body,
html {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  background-image: url("../images/honda.jpg");
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body .background,
html .background {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
}
body h1,
html h1 {
  font-family: 'Orbitron', Georgia, Times, serif;
  text-shadow: 2px 2px #0e0e0e;
  margin: 0;
  padding: 0;
}
body li,
html li {
  list-style: none;
}
body .blog-entry,
html .blog-entry {
  width: 60em;
  background-color: red;
  margin-bottom: 1em;
  border-radius: 2px;
  padding: 1em;
  box-sizing: border-box;
}
body .blog-entry .date,
html .blog-entry .date {
  width: 100%;
  background-color: #4CAF50;
}
body .blog-entry .title,
html .blog-entry .title {
  font-size: 32px;
}
body .banner,
html .banner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83adbf+0,408cad+100 */
  background: #83adbf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #83adbf 0%, #408cad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #83adbf 0%, #408cad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #83adbf 0%, #408cad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83adbf', endColorstr='#408cad', GradientType=0);
  /* IE6-9 */
  height: 100%;
  margin-top: 0;
  display: block;
  height: 3.5em;
  width: 100%;
  margin-bottom: 2rem;
}
body .banner h1,
html .banner h1 {
  color: #FFFFFF;
  display: inline-block;
  width: 55%;
  height: 3.5rem;
  margin-left: 1em;
}
body .banner .race-countdown,
html .banner .race-countdown {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  margin: 0;
  padding: 0;
}
body .banner .login,
html .banner .login,
body .banner .logout,
html .banner .logout {
  height: 100%;
  width: 4em;
  line-height: 3.5em;
  box-sizing: border-box;
  float: right;
}
body .banner .login button,
html .banner .login button,
body .banner .logout button,
html .banner .logout button {
  height: 2em;
  line-height: 2em;
}
body .menu,
html .menu {
  height: 100%;
  line-height: 100%;
  margin: 0;
  background-color: rgba(69, 90, 100, 0.5);
  width: 37%;
  float: right;
  width: 34%;
  padding: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
body .menu li,
html .menu li {
  display: inline-block;
  width: 30%;
  line-height: 3.5rem;
  height: 3.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
body .menu li:hover,
html .menu li:hover {
  background: #4CAF50;
  cursor: pointer;
}
